In [6]:
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [7]:
soup = BeautifulSoup(open('/Users/ran/Desktop/traffic/map.osm'))

In [8]:
node_list=[]
for node in soup.find_all('node'):
    node_list.append((node['id'],node['lat'],node['lon']))
node_location=pd.DataFrame(node_list)
node_location.columns=['node_id','lat','lon']
node_location

         node_id         lat           lon
0       48859268  32.5684160  -117.0401948
1       48859269  32.5687488  -117.0398343
2       48859270  32.5694793  -117.0399459
3       48876024  32.5678418  -117.0778615
4       48876025  32.5678362  -117.0783198
...          ...         ...           ...
9477  8535820649  32.5719937  -117.0009211
9478  8536062268  32.5625949  -117.0261569
9479  8536062269  32.5626012  -117.0256163
9480  8536062270  32.5625985  -117.0255467
9481  8536485238  32.5725354  -117.0375685

[9482 rows x 3 columns]

In [9]:
way_node_list=[]
for way in soup.find_all('way'):
    nd_list=way.find_all('nd')
    for node in nd_list:
        way_node_list.append((way['id'],node['ref']))
way_node=pd.DataFrame(way_node_list)
way_node.columns=['way_id','node_id']
way_node

         way_id     node_id
0       5938482   277141276
1       5938482   277141278
2       5938482    48959786
3       5938482    48859268
4       5938482   277145150
...         ...         ...
8011  919056935  8535820648
8012  919056935  8535820649
8013  919080998  8536062268
8014  919080998  8536062269
8015  919080998  8536062270

[8016 rows x 2 columns]

In [10]:
way_node_location = way_node.merge(node_location,on='node_id',how='inner')
way_node_location.to_csv('/Users/ran/Desktop/traffic/way_node_location.csv',index=False)